
/*
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    padding-top: 20px;
}

.navbar-brand {
    font-size: 24pt;
}

.navbar-nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18pt;
}
*/
