
.navbar-default {
    background-color: #ffffff;
    border-color: transparent;
    border-bottom: 1px solid #222222;
}

.navbar-default .navbar-brand {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18pt;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    /*color: #33adff;*/
    /* darker green in official logo */
    color: #7AB7AB;
}

.navbar-default .navbar-brand .icon {
    width: 40px;
    height: auto;
    display: inline;
    vertical-align: middle;
    margin-top: -10px;
    margin-left: 2px;
    margin-right: 2px;
}

.navbar-default .navbar-toggle {
    /*background-color: #b3e0ff;
    border-color: #b3e0ff;*/
    /* darker green in official logo */
    background-color: #7AB7AB;
    border-color: #7AB7AB;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    height: 1px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    /*background-color: #b3e0ff;
    border-color: #b3e0ff;*/
    /* darker green in official logo */
    background-color: #7AB7AB;
    border-color: #7AB7AB;
}


.navbar-default .nav li a {
    font-family: 'Lato', 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    color: #222222;
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    /*color: #33adff;*/
    /* darker green in official logo */
    color: #7AB7AB;
    outline: 0;
}

header {
    /*background-image: url(../img/tmp/bg1.jpg);*/
    /*background-repeat: none;*/
    /*background-attachment: scroll;*/
    /*background-position: center center;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: left;
    /*background-color: #262626;*/
    /*background-color: #00bfff;*/
    /*color: #222222;*/
}


header .intro-text {
    /*padding-top: 100px;
    padding-bottom: 50px;*/
    padding-top: 25px;
    padding-bottom: 25px;
}

header .intro-text .intro-lead-in {
    font-family: 'Raleway', 'Karma', sans-serif;
    font-weight: 400;
    font-size: 18pt;
    font-style: normal;
    line-height: 22px;
    margin-bottom: 25px;
    /*color: #f0f0f0;*/
    color: #000000;
}

header .intro-text .intro-heading {
    font-family: 'Raleway', 'Karma', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30pt;
    line-height: 50px;
    margin-bottom: 25px;
    /*color: #f8f8f8;*/
    color: #000000;
}

@media (min-width: 768px) {
    header .intro-text {
        /*padding-top: 300px;
        padding-bottom: 150px*/
        padding-top: 50px;
        padding-bottom: 50px;
    }

    header .intro-text .intro-lead-in {
        /*font-family: 'Raleway', 'Karma', sans-serif;*/
        font-family: 'Helvetica Neue Bold', 'Helvetica', 'Arial';
        /*font-weight: 400;
        font-size: 36pt;
        font-style: normal;*/
        line-height: 40px;
        margin-bottom: 50px;
        /*color: #f0f0f0;
        color: #80B9D2;*/
    }

    header .intro-text .intro-heading {
        /*font-family: 'Raleway', 'Karma', sans-serif;*/
        font-family: 'Helvetica Neue Bold', 'Helvetica', 'Arial';
        text-transform: uppercase;
        font-weight: 700;
        font-size: 40pt;
        line-height: 75px;
        margin-bottom: 50px;
        color: #f8f8f8;
    }
}


.btn-xl {
    color: #f2f2f2;
    background-color: #80B9D2;
    border-color: #80B9D2;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    font-size: 14px;
    padding: 15px 30px;
}

section {
    /*background-color: #262626;*/
    /*color: #f8f8f8;*/
    padding: 45px 10px;
}

section h2.section-heading {
    /*font-family: 'Bungee Shade' , 'Lato',sans-serif;*/
    font-family: 'Helvetica Neue Bold', 'Helvetica', 'Arial';
    font-weight: 400;
    font-size: 24pt;
    color: #80B9D2;
    /* darker green from official logo */
    color: #7AB7AB;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    text-transform: none;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px
}

section h4.service-heading {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16pt;
    color: #484848;
}

.text-primary {
    color: #00bfff;
    transition: all ease 500ms;
}

.text-primary:hover {
    color: #000000;
}

.text-muted {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}

@media (min-width: 768px) {
    section {
        background-color: #262626;
        color: #f8f8f8;
        padding: 45px 0;
    }

    section h2.section-heading {
        font-size: 32pt;
    }

    section h3.section-subheading {
        font-size: 14pt;
    }

    section h4.service-heading {
        font-size: 16pt;
    }
}

.divider-line {
    position: absolute;
    /*border-top: 1px solid #80B9D2;*/
    /* darker green in official logo */
    border-top: 1px solid #7AB7AB;
    /*padding: 10px 10px;*/
    width: 100%;
}


#technology .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}


#technology .logo {
    max-width: 150px;
    max-height: 100px;
    width: 100%;
    height: auto;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 30px;
}

/*section#contact {*/
    /*background-color: #00bfff;*/
/*}*/

/*section#contact .section-heading, section#contact .section-subheading  {*/
    /*color: #f8f8f8;*/
/*}*/

section#contact .info  {
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    font-style: normal;
    /*color: #f8f8f8;*/
    color: #000000;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 15px;
}

section#contact .form-group input.form-control {
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    height: auto;
    color: #262626;
}

section#contact .form-group textarea.form-control {
    /*font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
    height: 130px;
    color: #262626;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact :-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact ::-moz-placeholder {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact :-ms-input-placeholder {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

section#arch1 {
    background-color: #262626;
}

/*section#arch1 .section-heading {*/
    /*color: #f8f8f8;*/
/*}*/

/* Subheadings under the Specialties section */
.arch-heading {
    /*font-family: 'Bungee', 'Raleway', 'Lato';*/
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
    font-weight: 500;
    font-size: 18pt;
    /*color: #f8f8f8;*/
    /*color: #C04A35;*/
    color: #AACFCA /* light green in official logo */
}

.arch-body {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 12.5pt;
    /*color: #f8f8f8;*/
    color: #000000;
}

.divider-md-inv {
    padding-top: 30px;
}

.divider-sm-inv {
    padding-top: 10px;
}

.divider-lg-inv {
    padding-top: 50px;
}

.divider-xl-inv {
    padding-top: 100px;
}

.divider-line-2 {
    border-top: 1px solid #80B9D2;
    background-color: #262626;
}

.divider-color {
    color: #f8f8f8;
}

.divider-orange {
    border-top: 1px dotted #C04A35;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.paragraph-space-sm {
    padding-top: 10px;
}

.simple-input {
    border: 0px;
    border-style: none;
    border-bottom: 2px solid #f8f8f8;
    /* remove dark gray background for name input in contact form */
    /*background-color: #262626;*/
    color: #f8f8f8;
}

section#contact .form-control:focus {
    border-color: #80B9D2;
    box-shadow: none;
    color: #f8f8f8;
}

section#contact .form-control {
    border: 0px;
    border-style: none;
    border-bottom: 2px solid #f8f8f8;
    /* remove dark gray background for email in contact form */
    /*background-color: #262626;*/
    color: #f8f8f8;
}

.carousel-inner .item img {
    display: block;
    /*margin: 0 auto;*/
    position: relative;
    max-width: 100%;
    height: auto;
    line-height: 1;
    vertical-align: middle;
}

.carousel-indicators {
    position: relative !important;
    bottom: -30px !important;
    left: 40%;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.vertical-middle {
    vertical-align: middle;
}
.tech-stack {
    display: block;
    position: relative;
    max-width: 100%;
    width: 80%;
    height: auto;
}

@media (min-width: 768px) {
    .tech-stack {
        width: 65%;
    }
}
